@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-BlackItalic.eot');
src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
    url('../font/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-BlackItalic.woff2') format('woff2'),
    url('../font/SFProDisplay-BlackItalic.woff') format('woff'),
    url('../font/SFProDisplay-BlackItalic.ttf') format('truetype');
font-weight: 900;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-HeavyItalic.eot');
src: local('../font/SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
    url('../font/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-HeavyItalic.woff2') format('woff2'),
    url('../font/SFProDisplay-HeavyItalic.woff') format('woff'),
    url('../font/SFProDisplay-HeavyItalic.ttf') format('truetype');
font-weight: 900;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-LightItalic.eot');
src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
    url('../font/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-LightItalic.woff2') format('woff2'),
    url('../font/SFProDisplay-LightItalic.woff') format('woff'),
    url('../font/SFProDisplay-LightItalic.ttf') format('truetype');
font-weight: 200;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-Bold.eot');
src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('../font/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-Bold.woff2') format('woff2'),
    url('../font/SFProDisplay-Bold.woff') format('woff'),
    url('../font/SFProDisplay-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-Medium.eot');
src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('../font/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-Medium.woff2') format('woff2'),
    url('../font/SFProDisplay-Medium.woff') format('woff'),
    url('../font/SFProDisplay-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-SemiboldItalic.eot');
src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
    url('../font/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
    url('../font/SFProDisplay-SemiboldItalic.woff') format('woff'),
    url('../font/SFProDisplay-SemiboldItalic.ttf') format('truetype');
font-weight: 600;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-ThinItalic.eot');
src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
    url('../font/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-ThinItalic.woff2') format('woff2'),
    url('../font/SFProDisplay-ThinItalic.woff') format('woff'),
    url('../font/SFProDisplay-ThinItalic.ttf') format('truetype');
font-weight: 100;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-Regular.eot');
src: local('../font/SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('../font/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-Regular.woff2') format('woff2'),
    url('../font/SFProDisplay-Regular.woff') format('woff'),
    url('../font/SFProDisplay-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'SF Pro Display';
src: url('../font/SFProDisplay-UltralightItalic.eot');
src: local('../font/SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
    url('../font/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/SFProDisplay-UltralightItalic.woff2') format('woff2'),
    url('../font/SFProDisplay-UltralightItalic.woff') format('woff'),
    url('../font/SFProDisplay-UltralightItalic.ttf') format('truetype');
font-weight: 200;
font-style: italic;
font-display: swap;
}
@font-face {
font-family: 'Tusker Grotesk';
src: url('../font/TuskerGrotesk-4500Medium.eot');
src: local('../font/Tusker Grotesk 4500 Medium'), local('TuskerGrotesk-4500Medium'),
    url('../font/TuskerGrotesk-4500Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/TuskerGrotesk-4500Medium.woff2') format('woff2'),
    url('../font/TuskerGrotesk-4500Medium.woff') format('woff'),
    url('../font/TuskerGrotesk-4500Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-BlackItalic.eot');
    src: local('../font/SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('../font/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-BlackItalic.woff') format('woff'),
        url('SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
        url('../font/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-HeavyItalic.woff') format('woff'),
        url('../font/SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-LightItalic.eot');
    src: local('../font/SFPro Display LightItalic'), local('SFProDisplay-LightItalic'),
        url('../font/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-LightItalic.woff') format('woff'),
        url('../font/SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Bold.eot');
    src: local('../font/SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../font/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-Bold.woff2') format('woff2'),
        url('../font/SFProDisplay-Bold.woff') format('woff'),
        url('../font/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Medium.eot');
    src: local('../font/SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../font/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-Medium.woff2') format('woff2'),
        url('../font/SFProDisplay-Medium.woff') format('woff'),
        url('../font/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-SemiboldItalic.eot');
    src: local('../font/SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
        url('../font/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('../font/SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-ThinItalic.eot');
    src: local('../font/SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
        url('../font/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-ThinItalic.woff') format('woff'),
        url('../font/SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Regular.eot');
    src: local('../font/SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../font/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-Regular.woff2') format('woff2'),
        url('../font/SFProDisplay-Regular.woff') format('woff'),
        url('../font/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-UltralightItalic.eot');
    src: local('../font/SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
        url('../font/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-UltralightItalic.woff') format('woff'),
        url('../font/SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../font/TuskerGrotesk-4500Medium.eot');
    src: local('../font/Tusker Grotesk 4500 Medium'), local('TuskerGrotesk-4500Medium'),
        url('../font/TuskerGrotesk-4500Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/TuskerGrotesk-4500Medium.woff2') format('woff2'),
        url('../font/TuskerGrotesk-4500Medium.woff') format('woff'),
        url('../font/TuskerGrotesk-4500Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Bold.eot');
    src: local('../font/Monument Extended Bold'), local('MonumentExtended-Bold'),
        url('../font/MonumentExtended-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Bold.woff2') format('woff2'),
        url('../font/MonumentExtended-Bold.woff') format('woff'),
        url('../font/MonumentExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Bold_1.eot');
    src: local('../font/Monument Extended Bold'), local('MonumentExtended-Bold'),
        url('../font/MonumentExtended-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Bold_1.woff2') format('woff2'),
        url('../font/MonumentExtended-Bold_1.woff') format('woff'),
        url('../font/MonumentExtended-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Black.eot');
    src: local('../font/Monument Extended Black'), local('MonumentExtended-Black'),
        url('../font/MonumentExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Black.woff2') format('woff2'),
        url('../font/MonumentExtended-Black.woff') format('woff'),
        url('../font/MonumentExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Black_1.eot');
    src: local('../font/Monument Extended Black'), local('MonumentExtended-Black'),
        url('../font/MonumentExtended-Black_1.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Black_1.woff2') format('woff2'),
        url('../font/MonumentExtended-Black_1.woff') format('woff'),
        url('../font/MonumentExtended-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Regular.eot');
    src: local('../font/Monument Extended Regular'), local('MonumentExtended-Regular'),
        url('../font/MonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Regular.woff2') format('woff2'),
        url('../font/MonumentExtended-Regular.woff') format('woff'),
        url('../font/MonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Light.eot');
    src: local('../font/Monument Extended Light'), local('MonumentExtended-Light'),
        url('../font/MonumentExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Light.woff2') format('woff2'),
        url('../font/MonumentExtended-Light.woff') format('woff'),
        url('../font/MonumentExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Thin.eot');
    src: local('../font/Monument Extended Thin'), local('MonumentExtended-Thin'),
        url('../font/MonumentExtended-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Thin.woff2') format('woff2'),
        url('../font/MonumentExtended-Thin.woff') format('woff'),
        url('../font/MonumentExtended-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Light_1.eot');
    src: local('../font/Monument Extended Light'), local('MonumentExtended-Light'),
        url('../font/MonumentExtended-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Light_1.woff2') format('woff2'),
        url('../font/MonumentExtended-Light_1.woff') format('woff'),
        url('../font/MonumentExtended-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Regular_1.eot');
    src: local('../font/Monument Extended Regular'), local('MonumentExtended-Regular'),
        url('../font/MonumentExtended-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Regular_1.woff2') format('woff2'),
        url('../font/MonumentExtended-Regular_1.woff') format('woff'),
        url('../font/MonumentExtended-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Thin_1.eot');
    src: local('../font/Monument Extended Thin'), local('MonumentExtended-Thin'),
        url('../font/MonumentExtended-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('../font/MonumentExtended-Thin_1.woff2') format('woff2'),
        url('../font/MonumentExtended-Thin_1.woff') format('woff'),
        url('../font/MonumentExtended-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
body {
margin: 0;
font-size: 16px;
font-family: "SF Pro Display", "Tusker Grotesk", "Monument Extended";
background: #000;
}

.container { max-width: 1660px; margin: 0 auto; box-sizing: border-box; width: 100%;  padding:0px 30px; }
.main-header { position: absolute; top: 0px; z-index: 9;left: 0; right: 0; margin: 0 auto;}
.main-header ol, ul { padding-left: 0;}
.user-main {display: flex;justify-content: flex-end;}
.user-inner {display: flex;justify-content: space-between;background: #fff;padding: 10px 27px;border-radius:50px  }
.user-left {display: flex;justify-content: space-between;align-items: center;padding-right: 15px;}
.user-one img {padding-right: 12px;width: 100%;object-fit: cover;}
.Timer {border-left: 1px solid #dddddd;padding-left: 15px;display: flex;align-items: center;}
.user-inner h6 { font-family: 'SF Pro Display';font-style: normal;font-weight: 400;font-size: 14px;line-height: 17px;color: #000000;margin: 0;}
.user-inner h6 span { display: block;margin-top:5px;font-family: 'SF Pro Display';font-style: normal;font-weight: 700;font-size: 16px;line-height: 19px;color: #5F5F5F;}
.right-user { padding-left: 31px; position: relative;}
.right-user img { border: 5px solid #fff; border-radius: 100%;}
.dropdown-content { position: absolute; z-index: 99;display: flex; flex-direction: column; padding: 8px;  width: 250px;  background: white;right: 60px;
bottom: auto;top: 12px;background: #0D0D0D; box-shadow: 0px 8px 32px rgba(0,0,0,0.45); border-radius: 8px; display: none;}
.right-user:hover .dropdown-content {display: block; cursor: pointer;}
.profile-dropdown-header {padding: 12px 0;box-shadow: inset 0px -1px 0px #222323;display: flex;align-items: center;}
.avatar img {   width: 36px;   height: 36px;  object-fit: cover;}
.name { font-style: normal; font-weight: 900; font-size: 16px; line-height: 100%; letter-spacing: 0.75px; text-transform: uppercase;   color: #F52D56;   padding-left: 12px; font-family: 'SF Pro Display';}
 .dropdown-item a { font-style: normal; font-weight: bold; font-size: 14px; line-height: 100%;  letter-spacing: -0.25px;  color: #FFFFFF; display: flex; align-items: center; padding: 4px;margin: 12px 0;}
.icon {width: 24px; height: 24px; margin-right: 8px;}
.icon img { width: 100%; object-fit: contain;  height: auto;}
.dropdown-links-wrapper {  display: flex;  flex-direction: column;  margin-top: 16px;}
span.copyright { font-style: normal; font-weight: normal; font-size: 12px; line-height: 12px; color: #646969;}
button.profile-dropdown--link {-webkit-appearance: none; border: none; outline: none;white-space: nowrap; transition: all 0.4s ease; color: #fff;}
button.profile-dropdown--link {display: flex;}
/*********banner****************/
.banner {position: relative;}
.banner .carousel-indicators { position: absolute;left: unset; justify-content: flex-end; margin-right: 92px; margin-bottom: 70px;  margin-left: 0;}
.banner.carousel-indicators .active { opacity: 1; background-color: #dc3545;}
.dropdown-content  img {  border: none;}
/**********banner-end***********/



/**************work-sec********/

.work.pt-5 { background: #1E1E1E; }
.work-text h6 { font-family: 'Monument Extended'; letter-spacing: 0.025em;}

.work-text h2 { font-family: 'Tusker Grotesk';}
.work-main button {
    font-family: 'SF Pro Display';
}

/******swiper-slider********/
.swiper-container { width: 100%; height: 100%;}
.swiper-slide { text-align: center; font-size: 18px;  display: -webkit-box;   display: -ms-flexbox;  display: -webkit-flex;  display: flex;-webkit-box-pack: center;-ms-flex-pack: center;  -webkit-justify-content: center;  justify-content: center;-webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center;  align-items: center;}
.overlay h2 { letter-spacing: 0.02em; font-family: 'Tusker Grotesk';}
.overlay h6 { letter-spacing: 0.02em;  font-family: 'SF Pro Display';  letter-spacing: 0.02em;}
.progress {  height: 3px;  width: 175px;  background: #1a1a1a;}
.progress-bar {background: #dc3545;}
.swiper-slide::before { position: absolute; content: "";background: linear-gradient(180deg, rgba(12,5,1,0) 0%, #000 100%),linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 70.16%); transition: all 1200ms cubic-bezier(0.23, 1, 0.32, 1); width: 100%;  height: 100%;  bottom: -100%;}
.swiper-slide:hover::before {  bottom: 0;}
.swiper-slide img {width:100%;}
.overlay { bottom: -20px !important;}
.overlay-second {  bottom: 46px !important;}
.swiper-slide:hover .overlay { transition: all 1200ms cubic-bezier(0.23, 1, 0.32, 1);  bottom: 0px !important;}

/****fitness-block*******/
.fitness-block { background: #1e1e1e;}
.fitness-text h2 { font-family: 'Tusker Grotesk';  font-style: normal;font-size: 96px;  line-height: 140px;  color: #D9D9D9;}
.fitness-text h6 { font-family: 'Monument Extended';}

.fitness-text p { font-family: 'SF Pro Display'; line-height: 156.4%;} 
.btn-main-row button { font-family: 'SF Pro Display'; }
.fourth-worksection .work-btn button:hover { background: #dc3545 !important;  transition: all ease-in-out 0.5s; cursor:pointer;}
.watch-inner { padding: 7px 14px; border-radius: 60px; color: #fff; background: rgba(255, 255, 255, 0.1);}
.watch-inner i {padding-right: 8px;}
.fourth-worksection .swiper-slide .overlay {
    transition: all 1200ms cubic-bezier(0.23, 1, 0.32, 1);
    bottom: 30px !important;
}
.fourth-worksection .swiper-slide:hover .overlay {
    transition: all 1200ms cubic-bezier(0.23, 1, 0.32, 1);
    bottom: 30px !important;
}

.fourth-worksection .video-icons i.fa-solid.fa-play.text-danger.h6 {
    filter: drop-shadow(0px 0px 25px rgba(245, 45, 86, 0.6));
    background: #dc3545;
    color: #fff !important;
    padding: 13px;
    border-radius: 100%;
    font-size: 18px;
    line-height: 18px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth-worksection .video-icons  {opacity: 0;}
.fourth-worksection .swiper-slide:hover .video-icons{  opacity: 1;}
.fourth-worksection .watch-main {opacity: 0;}
.fourth-worksection .swiper-slide:hover .watch-main {  opacity: 1;}

.fifth-worksection .swiper-slide {
    display: block;
}
.fifth-worksection .swiper-slide::before {
    display: none;
}
.new-slide-text-with-flex img {
    width: 20px;
    height: 20px;
}
.new-slider-text h6 {
    padding-left: 5px;
    font-family: 'SF Pro Display';
    line-height: 80px;
    letter-spacing: 0.02em;
}
.new-slide-text-with-flex {
    padding-bottom: 7px;
}

.new-slider-text h5 {
    letter-spacing: 0.02em;
    font-family: 'Tusker Grotesk';
}

.nutruion-main {
    background: #282828;
    border-radius: 30px;
    padding: 60px;
}